/** 公用的 css 变量 */

.theme-common {
  transition: color .3s, background-color .3s;

  /** about code block */
  --code-block-bg: #121212;
  --code-block-gradient: linear-gradient(
    0deg, rgba(18, 18, 18, 1) 10%, rgba(18, 18, 18, 0.7) 70%, rgba(18, 18, 18, 0.1) 96%
  );
  --code-btn-text: #a0a0a0;
}